- if @user.id == current_user.andand.id
  .alert.alert-success This is your public profile. You can share the link with your friends!
%h1 #{@user.username} (#{@user.completed_tasks.count} total tasks completed)
.row
  .span3
    %h2= @user.tasks_completed_after(24.hours.ago).count
    %h3 Past 24 hours
  .span3
    %h2= @user.tasks_completed_after(1.week.ago).count
    %h3 Past week
  .span3
    %h2= @user.tasks_completed_after(1.month.ago).count
    %h3 Past month
  .span3
    %h2= @user.tasks_completed_after(1.year.ago).count
    %h3 Past year
#chart-tasks-completed-by-day.chart

:javascript
  var tasksCompletedByDay = JSON.parse('#{@user.tasks_completed_by_day_as_json.to_json}');
  // new TasksCompletedByDayChart({el: "#chart-tasks-completed-by-day", data: tasksCompletedByDay}).render();

  var tasksAsCalendarData = [];
  for(var i=0; i < tasksCompletedByDay.length; i++) {
    var task = tasksCompletedByDay[i];
    tasksAsCalendarData.push([task['date'], task['count']]);
  }
  $(function() {
    new Calendar({
      append_to: 'chart-tasks-completed-by-day',
      num_weeks: 51,
      day_size: 11,
      data: tasksAsCalendarData
    });
  });
