- if @user.id == current_user.andand.id
  .alert.alert-success This is your public profile. You can share the link with your friends!
%h1 #{@user.username} (#{@user.completed_tasks.count} total tasks completed)
.row
  .span3
    %h2= @user.tasks_completed_after(24.hours.ago).count
    %h3 Past 24 hours
  .span3
    %h2= @user.tasks_completed_after(1.week.ago).count
    %h3 Past week
  .span3
    %h2= @user.tasks_completed_after(1.month.ago).count
    %h3 Past month
  .span3
    %h2= @user.tasks_completed_after(1.year.ago).count
    %h3 Past year
#chart-tasks-completed-by-day.chart

:javascript
  var tasksCompletedByDay = JSON.parse('#{@user.tasks_completed_by_day_as_json.to_json}');
  // new TasksCompletedByDayChart({el: "#chart-tasks-completed-by-day", data: tasksCompletedByDay}).render();

  var tasksAsCalendarData = {};
  for(var i=0; i < tasksCompletedByDay.length; i++) {
    var task = tasksCompletedByDay[i];
    var d = task['date'].split("-");
    var unixTime = new Date(d[0], d[1] - 1, d[2]).getTime()/1000;
    tasksAsCalendarData[unixTime] = task['count'];
  }
  $(function() {
    var d = tasksCompletedByDay[0]['date'].split("-");
    var startDate = new Date(d[0], d[1] - 1, d[2]);
    var cal = new CalHeatMap();
    cal.init({
      id: "chart-tasks-completed-by-day",
      data: tasksAsCalendarData,
      domain: "month",
      subDomain: "day",
      range: 13,
      domainGutter: 5,
      weekStartOnMonday: 0,
      cellsize: 12,
      cellpadding: 1,
      format: {
        date: "%B%e, %Y",
        legend: "%b"
      },
      start: startDate
    });
  });
