!!! 5
%html
  %head
    %title Do this
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %body{:class => "#{controller_name} #{controller_name}-#{action_name}"}
    .container
      .navbar
        .navbar-inner
          = link_to "Do this", root_path, :class => "brand"
          %ul.nav
            - if current_user
              = link_to_active current_user.username, profile_path(current_user.username), :parent => :li
              %li
                = link_to "Logout", logout_path
            - else
              = link_to_active "Login", login_path, :parent => :li
              = link_to_active "Sign Up", signup_path, :parent => :li

      .flash
        - if flash[:error]
          .flash-error= flash[:error]
      = yield
